<section>
  <div class="container">
    <div class="col-sm-6">
      <img  src="assets/img/Groupe%20de%20masques%2041.png" alt="" style="width: 25%;">
      <br>
      <h2>Ihab kahri</h2>
      <h3>Designer graphique - Artiste</h3>
      <p><i class="bi bi-columns-gap"></i> 10 ressources</p>
      <p><i class="bi bi-eye"></i> 180 vue de ressources</p>

    </div>
  </div>


</section>

<section>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="collection-tab" data-bs-toggle="tab" data-bs-target="#collection-pane"
        type="button" role="tab" aria-controls="collection-pane" aria-selected="true">Collection</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="most-visited-tab" data-bs-toggle="tab" data-bs-target="#most-visited-pane"
        type="button" role="tab" aria-controls="most-visited-pane" aria-selected="false">Les plus visités</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="most-downloaded-tab" data-bs-toggle="tab" data-bs-target="#most-downloaded-pane"
        type="button" role="tab" aria-controls="most-downloaded-pane" aria-selected="false">Les plus
        téléchargés</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about-pane" type="button" role="tab"
        aria-controls="about-pane" aria-selected="false">Apropos</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="collection-pane" role="tabpanel" aria-labelledby="collection-tab"
      tabindex="0">

    </div>
    <div class="tab-pane fade" id="most-visited-pane" role="tabpanel" aria-labelledby="most-visited-tab" tabindex="0">

    </div>
    <div class="tab-pane fade" id="most-downloaded-pane" role="tabpanel" aria-labelledby="most-downloaded-tab"
      tabindex="0">

    </div>
    <div class="tab-pane fade" id="about-pane" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
      <div class="container">
        <div class="col-xl-8 col-lg-8 col-sm-12 col-sx-12">

          <h3>Biographie</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
          <h3>SKILLS</h3>
          <div class="row d-flex flex-row" data-aos="fade-up" data-aos-duration="1000">

            <button class="links"><a style=" color: black;
            text-decoration: none; " href="#">Ramadan</a></button>
            <button class="links"><a style=" color: black;
            text-decoration: none; " href="#">Choufli hal</a></button>
            <button class="links"><a style=" color: black;
            text-decoration: none; " href="#">Mock up</a></button>
            <button class="links"><a style=" color: black;
            text-decoration: none; " href="#">Logo</a></button>


          </div>
        </div>


      </div>
    </div>
  </div>
</section>
