<section *ngIf="!isLoggedIn" class="faq" id="faq">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md- 6 col-sm-12">
        <h2>
          <p
            class="section1">
            Inscrivez-vous
            <img class="imgStar" src="../../../../assets/img/images/line.svg">
          </p>
          <p class="section2">
            gratuitement dès aujourd’hui!</p>
        </h2>
      </div>
      <div class="col-xl-6 col-lg-6 col-md- 6 col-sm-12 ">
        <p class="description">
          Prêt pour un monde de vecteurs gratuits,
          photos et vidéos d’artistes incroyables dans le monde entier?
          Inscrivez-vous gratuitement aujourd’hui.
         </p>
        <div class="row justify-content-between mb-3">
          <div class="col-sm-2"> <img class="imgLine"
                                      src="../../../../assets/img/images/Groupe 6970.svg"
          /></div>
          <div class="col-sm-10">
            <a ariaCurrentWhenActive="page" class="faq-list" routerLink="/signup"
                                   routerLinkActive="active" style="text-decoration: none">S'inscrire <i
            class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
