<section id="valeur" class=" section-bg" style="  background: #FAFBFF 0% 0% no-repeat padding-box;">
    <div class="section-title">
      <div>
        <h2>


            <span> Pourquoi <span style="color:  #18DABF;"><span style="color:#5521E3">Mena</span>PiK</span></span>?

        </h2>
        </div>


        <div class="container aos-init aos-animate" data-aos="fade-up" style="max-width: 85%;">



          <div class="row">
            <div class="col-lg-4 ">
              <div class="box   mb-4">
                <img src="assets/img/Groupe%206732.svg" class="img-fluid" alt="">

                <h3 class="h3">
                  <br>Utilisateur</h3>
                <p class="sectionP">Profiter d'une grande accessibilité de contenu gratuit</p>
              </div>
            </div>


            <div class="col-lg-4 col-md-6">
              <div class="box  mb-4">
                <img src="assets/img/Groupe%206730.svg" class="img-fluid" alt="">
                <h3 class="h3">
                  <br>Partenaire</h3>
                <p class="sectionP">Donner l'opportunité aux créatifs de déposer leurs créations</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="box  mb-4">
                <img src="assets/img/Groupe%206731.svg" class="img-fluid" alt="">
                <h3 class="h3">
                  <br> Identité</h3>
                <p class="sectionP">Valoriser notre identité Menageoise</p>
              </div>
            </div>

          </div>



        </div>
        </div>
  </section>
