<section id="tarif" class="pricing section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up" style=" max-width: 85%;">

      <div class="section-title" >
        <h2>Tarifs</h2>
        <p style="text-align: center;
        font: normal normal normal 27px/33px 'Montserrat', sans-serif;
        letter-spacing: 0px;
        color: #8C8C8C;
        opacity: 1;">Profiter des vous pouvez payer facilement en ligne</p>
      </div>
      <div class="row">

        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="card h-100" style="box-shadow: 0px 3px 6px #00000029;">
                <div class="card-header"    >
                  <h4 class="my-0 font-weight-normal" style="color: #D3D3D3; font-weight: bold;">Gratuit</h4>
                </div>
                <div class="card-body">
                 <h5 style="text-align: left;
font: normal normal normal 22px/33px 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #8C8C8C;
opacity: 1;">
                  Une variété de ressources gratuites limitées par 10 téléchargement uniquement Téléchargement avec inscription
                 </h5>

                </div>
                <div class="card-footer  d-flex align-items-center justify-content-between" style="border-top: 0px;background-color: #D3D3D3;">
                  <p>Gratuit</p>
                  <p><i class="bi bi-check"></i>Active</p>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

            <div class="card h-100" style="box-shadow: 0px 3px 6px #00000029;">
                <div class="card-header"    >
                  <h4 class="my-0 font-weight-normal" style="color: #FF6B31; font-weight: bold;">Par Article</h4>
                </div>
                <div class="card-body">
                  <h5 style="text-align: left;
font: normal normal normal 22px/33px 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #8C8C8C;
opacity: 1;">
                    Choisissez un seul article à télécharger pour aouter à votre panier
                  </h5>

                </div>
                <div class="card-footer  d-flex align-items-center justify-content-between" style="border-top: 0px;background-color: #FF6B31;">
                  <p>Prix varient</p>
                </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">

            <div class="card h-100" style="box-shadow: 0px 3px 6px #00000029;">
                <div class="card-header"    >
                  <h4 class="my-0 font-weight-normal"  style="color: #5521E3; font-weight: bold;">Abonnement</h4>
                </div>
                <div class="card-body">
                  <h6 class="card-title pricing-card-title" style="text-align: left;  font: normal normal medium 25px/30px 'Montserrat', sans-serif;  letter-spacing: 0px;  color: #5521E3; opacity: 1;">6  mois:</h6>
                  <h5 style="text-align: left;
font: normal normal normal 22px/33px 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #8C8C8C;
opacity: 1;">
                    SVG et grand PNG pour vecteurs<br> PSD et grand PNG pour rasters
                  </h5>

                </div>
                <div class="card-footer  d-flex align-items-center justify-content-between" style="border-top: 0px;background-color: #5521E3;">
                  <p>150 TND</p>
                </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="card h-100" style="box-shadow: 0px 3px 6px #00000029;">
                <div class="card-header"    >
                  <h4 class="my-0 font-weight-normal" style="color: #18DABF; font-weight: bold;">Abonnement Annuel</h4>
                </div>
                <div class="card-body">
                  <h6 class="card-title pricing-card-title"> <small class="text-muted"></small></h6>
                  <h5 style="text-align: left;
font: normal normal normal 22px/33px 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #8C8C8C;
opacity: 1;">
                    SVG et grand PNG pour vecteurs<br> PSD et grand PNG pour rasters<br> Pas d'attribution ni de lien requis
                  </h5>

                </div>
                <div class="card-footer  d-flex align-items-center justify-content-between" style="border-top: 0px;background-color:#18DABF;">
                  <p>300 TND</p>
                </div>
              </div>
        </div>

      </div>

    </div>
  </section>
