
<footer id="footer">

  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">


        <div class="col-lg-6 col-md-6 col-sm-8 footer-newsletter text-md-right">
        <img src="../../../../assets/img/Logo%20Menapik%20vertical%20R.png" class="img-fluid animated" alt="">
        <div class="row">
        <div class="col-sm-5"><p>Phone Number :</p></div>
        <div class="col-sm-7"><p>55 485 657</p></div>
        <div class="col-sm-5"><p>email :</p></div>
        <div class="col-sm-7"><p>menapik.images@gmail.com</p></div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 footer-contact  linge text-md-right">
         <br>
         <br>
         <br>
         <br>

          <h4 class="social-links text-center text-md-right pt-3 pt-md-0" style="text-align: left;
          font: normal normal normal 30px/37px 'Montserrat', sans-serif;
          letter-spacing: 0px;
          color: #5521E3;
          opacity: 1;"> SUBSCRIBE</h4>

       <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook" style=" font-size: 2rem; "><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram" style=" font-size: 2rem; "><i class="bx bxl-instagram"></i></a>

        <a href="#" class="linkedin" style=" font-size: 2rem; "><i class="bx bxl-linkedin"></i></a>
      </div>

        </div>

      </div>
    </div>
  </div>
<div class="row text-center" style="background: #D3D3D3 0% 0% no-repeat padding-box;
opacity: 1;  margin-right: 0px;  margin-left: 0px;">
  <p style="text-align: center;  font: normal normal 600 25px/30px 'Montserrat', sans-serif;  letter-spacing: 0px; color: #FFFFFF; opacity: 1; margin: 15px 0px">Copyright 2022</p>

</div>
</footer>
<app-scroll-to-top></app-scroll-to-top>
